{% extends 'base.html.twig' %} {% block body %}
<h1 class="mb-5 mt-5">Democratic alternatives</h1>

{{ form(form) }}

{{
  include("includes/alternativesTiles.html.twig", {
    alternatives: alternatives,
    profile: false
  })
}}

{% endblock %}
